body {
  font-family: 'Open Sans', sans-serif;
}

.breadcrumb-item {
  font-size: 0.8em !important;
}

.ellipsis {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  table-layout: fixed;
}

.board-table .id,
.board-table .views,
.board-table .recommand {
  width: 60px;
  text-align: center;
}

.board-table .profile {
  width: 80px;
  text-align: center;
}

.board-table .writer {
  width: 110px;
  text-align: center;
}

.board-table .date {
  width: 100px;
  text-align: center;
}

.board-table .title-container:hover .title-comments,
.board-table .title-container:hover .title-text {
  text-decoration: underline;
}

.post-body,
.comment-body {
  white-space: pre-line;
}

.post-info {
  font-size: 0.8em;
}

.user-form {
  width: 400px;
}

.post-index-tool {
  max-width: 450px;
}

.post-index-tool input[type='text'] {
  max-width: 130px;
}

.highlighted {
  color: rgb(26, 190, 26);
}

a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.page-link {
  color: #6c757d;
}

.btn-link {
  color: #36455d;
  font-weight: bold;
}

.page-item.active .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
}

.box {
  margin-top: 15px;
  width: 200px;
  height: 200px;
  border-radius: 30%;
  overflow: hidden;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}