<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <h2 class="mb-3"><b>About</b></h2>
        <P>이 사이트는 <a href="https://github.com/SoN-B" target="_blank">SoN-B's Github</a>에 의해 개발되었습니다!</p>
        <!-- target="_blank" -> 새창 -->
    </div>
</body>

</html>