<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
        <div class="container mb-3">
            <div class="jumbotron">
                <h1>My Website</h1>
                <P>개인 스터디 프로젝트입니다!</p>
            </div>
        </div>
</body>

</html>