<nav class="navbar navbar-expand-sm navbar-light bg-secondary mb-3">
    <div class="container">
        <div class="navbar-brand"><b>My Website</b></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/board" class="nav-link">Board</a></li>
            </ul>
            <ul id="insert" class="navbar-nav ml-auto">
            </ul>
            <script>
                const log_in =
                    `
                <button type="button" id="profile" class="btn btn-link">Profile</button>
                <button type="button" id="logout" class="btn btn-link">Log Out</button>
                `

                const log_out =
                    `
                <button type="button" id="profile" class="btn btn-link">Profile</button>
                <li class="nav-item"><a href="/user/login" class="nav-link">Log In</a></li>
                <li class="nav-item"><a href="/user/register" class="nav-link">Sign Up</a></li>
                `

                if (!localStorage.getItem('access_token')) {
                    $('#insert').append(log_out);
                } else if (localStorage.getItem('access_token')) {
                    $('#insert').append(log_in);
                }
            </script>
        </div>
    </div>
</nav>