<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="container mb-3">
            <h3 class="contentBoxTop mb-3">Log In</h3>

            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Id (email)</label>
                    <input type="email" class="form-control" id="email" placeholder="Input email"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">※ Id must be email type ※</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Input password">
                </div>
                <button type="button" class="btn btn-primary" id="button">Submit</button>
            </form>
        </div>

        <script src="/js/index2.js" defer></script>
</body>

</html>