<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

        <h3 class="contentBoxTop"><b>My Profile</b></h3>

        <div class="form-row">
            <div class="form-group col-3">
                <div class="box">
                    <img class="profile" name="profile" src="">
                </div>
                <form style="margin-top: 15px; display: none;" id="show" method="post" encType="multipart/form-data">
                    <input type="file" name="input"/>
                </form>
            </div>
            <div class="form-group col-9">
                <fieldset disabled>
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="username" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="email" type="text" value="">
                        </div>
                    </div>
                </fieldset>
                <form>
                    <button style="margin: 5px 5px; float: right;" class="btn btn-secondary" id="update_btn" type="button">프로필 편집</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        const url = new URL(window.location.href);
        const urlParams = url.searchParams;
        const img = document.querySelector('img.profile');

        img.src = urlParams.get('profile');
        $('input[name=username]').val(urlParams.get('user_name'));
        $('input[name=email]').val(urlParams.get('email'));
    </script>
    <script src="/js/user/profile.js" defer></script>
</body>

</html>