<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
        <h3 class="contentBoxTop mb-3">Sign Up</h3>

        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Input username">
                <div style="font-size: 12px;" class="form-text">※ Username must be <span style="color: red;">longer than 2 characters.</span> ※</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Id (email)</label>
                <input type="email" class="form-control" id="email" placeholder="Input email">
                <div style="font-size: 12px;" class="form-text">※ Id must be <span style="color: red;">email type.</span> ※</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Input password">
                <div style="font-size: 12px;" class="form-text">※ Password must be <span style="color: red;">longer than 2 characters.</span> ※</div>
            </div>
            <button type="button" class="btn btn-secondary" id="button">Submit</button>
        </form>
    </div>

    <script src="/js/user/register.js" defer></script>
</body>

</html>